body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: #eee;
}

header {
  background: #333;
}

#heading-box {
  display: inline-block;
  height: 60px;
  width: 280px;
  background-color: teal;
  margin-top: 8px;
  margin-bottom: 8px;
}

nav {
  list-style: none;
  float: right;
  margin-right: 40px;
  margin-top: 8px;
}

nav ul li {
  color: teal;
  border-bottom: 3px solid teal;
  display: inline-block;
  padding-right: 10px;
  padding-left: 10px;
  margin: auto 3px;
}


#header-deco {
  position: relative;
}

#header-deco img {
  height: 160px;
  width: 100%;
}

#header-deco h2 {
  float: right;
  background-color: teal;
}

.subtitle {
  position: absolute;
  right: 40px;
  bottom: 20px;
}

h1 {
  display: inline-block;
  padding-top: 10px;
  padding-left: 40px;
  margin: 0;
  font-size: 28px;
  color: #333;
  text-align: right;
}

h2 {
  font-size: 24px;
}